/* SWATCHES ---------------------------------------------------------------------- */
/*
folder list
.sidebar||#sidebar

open files list
.avril-parent-work

bottom bar
.status-bar

Right of page numbers.
Down arrows for code group
.CodeMirror-foldgutter

indented lines
.cm-cm-overlay
*/
.cm-builtin     { color: #ff3030; }
/* variable name */
.cm-def			{ color: #DF0174; }/*#ff3030*/
.cm-header      { color: #ff3030; }
/* php embed script */
.cm-meta		{ color: #ff3030; }
/* example: === */
.cm-operator	{ color: #ff3030; }
.cm-qualifier	{ color: #ff3030; }
/* example: &ntilde; */
.cm-atom		{ color: #A901DB; }
.cm-link		{ color: #ff8500; }
.cm-number		{ color: #A901DB; }
.cm-string		{ color: #A901DB; }
.cm-string-2    { color: #ff3030; }
/* functions calls */
.cm-variable	{ color: #DF0174; }
/* example: $variable */
.cm-variable-2	{ color: #7dc773; }/*#78f2e9*/
.cm-variable-3	{ color: #58FA82; }/*#7dc773*/
/* open/close html tag */
.cm-bracket		{ color: #d4d4d4; }
/* html tag */
.cm-tag			{ color: #D358F7; }
/* html attribute */
.cm-attribute	{ color: #78f2e9; }
/* oop property */
.cm-property	{ color: #2f9621; } /* property after string */

.cm-comment		{ color: #767676;}/*#2f9621*/
.cm-error		{ color: #fff; background-color: #FE642E; font-style: italic; font-weight: blod}
.cm-keyword		{ color: #A60B7D/*#8A0868*/; font-weight: bold; }

/* MISC ---------------------------------------------------------------------- */

/* main content view */
.CodeMirror,
.CodeMirror .CodeMirror-scroll {
    background: #000;
    color: #bab0f1;
}

.CodeMirror-cursor {
    border-left: 2px solid #A901DB;/*#ff8500*/
}

.CodeMirror-overwrite .CodeMirror-cursor {
    border-bottom: 2px solid #ff8500;/*#00ACF0*/
    border-left: none;
}
/* left sidebar with line numbers */
.CodeMirror-gutters {
    background: #000;
    border-right: 1px solid #222;
}
/* line numbers */
.CodeMirror-linenumber {
    color: #00A8C6;
}

.CodeMirror-selected {
    /*background: rgb(48, 139, 139);
    background: rgba(48, 139, 139, 0.53);*/
    background-color: #9F81F7;
    opacity: 0.5;
}

/* Active Line */

.CodeMirror-activeline-background {
    /*background: rgb(47, 150, 33);
    background: rgba(47, 150, 33, 0.35) !important;*/
    background-color: #A901DB !important;
    opacity: 0.35;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-gutter-elt {
    color: #A901DB;
    background-color: transparent;
}

/* Matching Brackets and Tags */

.CodeMirror-matchingbracket {
    color: #d4d4d4 !important;
    box-shadow: 0 0 1em #ff3030;
    border-radius:0.5em;
    border:1pt solid #ff8500;
    background-color: #7dc773;
    /*-webkit-animation: hilightMB 2s alternate ease-in-out infinite;*/
}
/*
@-webkit-keyframes hilightMB {
0%
{
background-color:#ff8500;
border:1pt solid #F000AC;
box-shadow: 0 0 1em #FF0AE0;
}

50%
{
background-color: transparent;
border:1pt solid transparent;
box-shadow: 0 0 1em transparent;
}

100%
{
background-color:#0AE0FF;
border:1pt solid #00ACF0;
box-shadow: 0 0 1em #0AE0FF;
}
}
*/

.CodeMirror-matchingtag {
    color: inherit;
    background-color: transparent;
}

.CodeMirror-focused .CodeMirror-activeline .CodeMirror-nonmatchingbracket {
    color: #ff8ef0 !important;
}

/* Search Match */

.CodeMirror-searching {
    background-color: #1a9163;
}

.CodeMirror-searching.searching-current-match {
    background-color: #ff8500;
}
